@model IEnumerable<Google_cloud_storage_solution.Models.Menu>

<style>

    /* Apply styles to the table */
    .table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
        background-color: white;
    }

        .table th, .table td {
            border: 3px solid #ddd;
            padding: 8px;
            text-align: left;
            font-size: 20px; /* Changed font size to 20px */
            color: black; /* Changed text color to black */
        }

        .table th {
            background-color: #f0ad4e; /* Added background color to header */
            color: white;
            font-size: 18px; /* Changed heading size to 18px */
        }

    .form-group label {
        color: white;
        font-size: 20px;
    }

    h1, h2 {
        color: #f0ad4e;
    }

    .form-group button[type="submit"] {
        background-color: black;
        color: #f0ad4e;
        border: none;
        cursor: pointer;
        font-size: 18px;
        padding: 10px;
        border-radius: 4px;
        width: 150px;
    }

    .footer {
        margin-top: 350px;
    }
</style>

<h2>Delete Menu</h2>

<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var menu in Model)
        {
            <tr>
                <td>@menu.Title</td>
                <td>
                    <form asp-action="DeleteMenu" method="post">
                        <input type="hidden" name="id" value="@menu.MenuId" />
                        <button type="submit" class="btn btn-dark">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index" class="btn btn-light" style="background-color: #f0ad4e; color: black;">Back to List</a>
