@{
    ViewData["Title"] = "Home Page";
    int activityId = ViewBag.ActivityId;
}

<br />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header">Document Upload</h3>
                <div class="card-body">
                    <h5 class="card-title">Upload to Google Drive</h5>
                    <h6 class="card-subtitle text-muted">Upload all documents</h6>
                </div>
                <center>
                    <img class="logo" src="~/images/googleDrive.png" width="30%" height="50%">
                </center>

                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                    <center>
                        <a asp-controller="FileUpload" asp-action="UploadToGoogleDrive" class="btn btn-warning" style="width:100%">Upload File</a>
                    </center>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header">Document Upload</h3>
                <div class="card-body">
                    <h5 class="card-title">Upload to Google Cloud</h5>
                    <h6 class="card-subtitle text-muted">Upload all documents</h6>
                </div>
                <center>
                    <img class="logo" src="~/images/googleCloud.png" width="30%" height="65%">
                </center>

                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                    <center>
                        <a asp-controller="FileUpload" asp-action="UploadToGoogleCLoud" class="btn btn-warning" style="width:100%">Upload File</a>
                    </center>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header">View Uploaded Files</h3>
                <div class="card-body">
                    <h5 class="card-title">View</h5>
                    <h6 class="card-subtitle text-muted">Upload all documents</h6>
                </div>
                <center>
                    <img class="logo" src="~/images/upload.png" width="30%" height="50%">
                </center>

                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                    <center>
                        <a asp-controller="FileIndex" asp-action="Index" class="btn btn-warning" style="width:100%">View</a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header">Edit File Permissions</h3>
                <div class="card-body">
                    <h5 class="card-title">View</h5>
                    <h6 class="card-subtitle text-muted">Edit File Permissions</h6>
                </div>
                <center>
                    <img class="logo" src="~/images/information.png" width="30%" height="50%">
                </center>

                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                    <center>
                        <a asp-controller="FileAccess" asp-action="EditAccess" class="btn btn-warning" style="width:100%">Edit Permissions</a>
                    </center>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-3">
                <h3 class="card-header">View Project TimeSheet</h3>
                <div class="card-body">
                    <h5 class="card-title">Navigate to project view</h5>
                    <h6 class="card-subtitle text-muted">Complete project records</h6>
                </div>
                <center>
                    <img class="logo" src="~/images/team.png" width="30%" height="50%">
                </center>

                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <div class="card-body">
                    <center>
                        <a asp-controller="Menu" asp-action="Index" class="btn btn-warning" style="width:100%">view</a>
                    </center>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('beforeunload', function (event) {
        const exitTime = new Date().toISOString(); // Get the current time in ISO format
        navigator.sendBeacon('/MenuItem/RecordExitTime', JSON.stringify({
            activityId: @activityId,
            exitTime: exitTime
        }));
    });
</script>
