html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background-image :url(../images/pngtree-modern-co-working-space-with-concrete-and-wood-accents-complete-with-picture-image_7232829.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    padding: 20px;
}

.user-profile {
    margin-left: 10px; /* Adjust margin as needed */
}

    .user-profile img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 5px;
    }

    .user-profile .user-details {
        display: flex;
        align-items: center;
        color: #333;
        cursor: pointer;
    }

        .user-profile .user-details .username {
            margin-right: 5px;
        }

    .user-profile .dropdown-menu {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 999;
    }

        .user-profile .dropdown-menu a {
            display: block;
            padding: 10px;
            color: #333;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

            .user-profile .dropdown-menu a:hover {
                background-color: #f1f1f1;
            }

.footer {
    height: 160px;
}


.footer {
    background-color: black;

}

.socials a {
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
    color: black;
}

/* Responsive styles */
@media (max-width: 768px) {
    .navbar-nav .nav-item {
        margin-left: 0;
    }
}